.content {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;

  .cards {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;

    p {
      margin: 0;
      padding: 5px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
    .card {
      padding: 5px;
      width: 400px;
      height: 300px;
      overflow: hidden;
      border: 1px solid #111;
      border-radius: 8px;
      box-shadow: 0 2px gray;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .image {
        height: 150px;
      }
    }
  }
}
