.wrapper {
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;

  nav {
    width: 100%;
    ul,
    li {
      list-style: none;
    }
    ul {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  }
}

.active {
  color: aqua;
  text-decoration: underline;
}
